@import 'variables';

.wrapper{
    background-color: $primary_color;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px auto auto;
}

// header
.wrapper{
    &__header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper__h1{
            font-size: 2.5rem;
            color: $secondary_color;
            font-weight: 600;
        }
    }
}

// cards
.wrapper{

    &__cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card--previousSong{
            width: 32px;
            height: 240px;
            background-color: $primary_color;
            border-radius: 0px 20px 20px 0px;
            box-shadow: 7px -1px 10px rgba(255, 255, 255, 0.5),
            4px -15px 15px rgba(255, 255, 255, 0.5),
            -10px 15px 15px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;

            .card__image{
                width: 90%;
                height: 97%;
                object-fit: cover;
                border-radius: 0px 20px 20px 0px;
            }
        }

        .card--principalSong{
            @extend .card--previousSong;
            width: 240px;
            border-radius: 20px;
            box-shadow: $shadow;
            justify-content: center;

            .card__image{
                width: 95%;
                height: 90%;
                border-radius: 20px;
            }
        }

        .card--nextSong{
            @extend .card--previousSong;
            border-radius: 20px 0px 0px 20px;
            box-shadow: $shadow;
            justify-content: flex-end;

            .card__image{
                border-radius: 20px 0px 0px 20px;
            }
        }
    }
}

// info
.wrapper{
    
    &__infoSong{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .infoSong__text{
            color: $secondary_color;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .infoSong__title{
                font-weight: bolder;
            }

            .infoSong__artist{
                font-weight: 600;
            }
        }

        .wrapper__songBar{
            width: 90%;
            max-width: 800px;
            display: flex;
            flex-direction: column;

            .songBar__range{
                height: 8px;
                width: 100%;
                accent-color: $secondary_color;
                border-radius: 20px;
            }

            .songBar__num{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
    
                .minutes{
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $secondary_color;
                }
            }
        }
    }
}

//botones
.wrapper{
    
    &__buttons{
        width: 100%;
        max-width: 950px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;

        .button{
            background-color: #B2A4FF;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.4),  /* Primera sombra */
            -10px -10px 15px rgba(255, 255, 255, 0.25), /* Segunda sombra */
            10px 10px 15px rgba(0, 0, 0, 0.25);        /* Tercera sombra */
            display: flex;
            align-items: center;
            justify-content: center;

            &__svg{
                width: 75%;
                height: 75%;
                fill: $secondary_color;
            }
        }

        .button__play{
            width: 65px;
            height: 65px;

            .button__svg{
                width: 55%;
                height: 55%;
            }
        }
    }
    
}



