@import 'variables';


.wrapper{
    &__cards{
        justify-content: center;

        .card--previousSong{
            display: none;
        }

        .card--principalSong{
            width: 280px;
            height: 280px;
        }
    
        .card--nextSong{
            @extend .card--previousSong;
        }
    }
}